/* Colors */
:root {
  --text: #ddd;
  --bg: #141414;
  --bg-2: #242424;

  --link: #99f;
  --extra-margin: 0px;
}

/* Font */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fsh.plus/media/Lexend.ttf) format('ttf');
}

body {
  color: var(--text);
  font-family: "Lexend", Arial, sans-serif;
  margin: 0px;
  margin-inline: var(--extra-margin);
  padding: 0px;
  background-color: #423;
  overflow: hidden;
}

side {
  position: absolute;
  top: var(--extra-margin);
  bottom: var(--extra-margin);
  left: var(--extra-margin);
  display: block;
  width: 320px;
  padding: 5px;
  background: var(--bg-2);
  box-sizing: border-box;
}
main {
  position: absolute;
  top: var(--extra-margin);
  bottom: var(--extra-margin);
  right: var(--extra-margin);
  width: calc(100vw - 320px - var(--extra-margin) * 2);
  padding: 0px 10px;
  background: var(--bg);
  box-sizing: border-box;
}

h1 {
  margin: 0px;
}
h2 {
  margin: 10px 0px 0px;
}
ul, p {
  margin: 0px;
}

a {
  color: var(--link);
}

.me {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.me img {
  width: 70px;
  object-fit: cover;
  overflow-clip-margin: unset;
  overflow: visible;
}

.bio {
  text-align: center;
}

.socials {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.k {
  position: absolute;
  width: calc(100% - 10px);
  text-align: center;
  bottom: 10px;
}