@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ddd;
  font-family: "Lexend", Arial, sans-serif;
  background-color: #141414;
}

h1, h2 {
  margin-bottom: 0px;
}
ul, p {
  margin: 0px;
}

a {
  color: #99f;
}

.me {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bio {
  max-width: 30vw;
}

.socials {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 2em;
}
